.section_about-as {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 2rem;
  line-height: 3rem;
  color: #787878;
}

.about-us-container {
  padding-top: 150px;
  padding-bottom: 150px;

  & p {
    width: 100%;
  }

  & img {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 40px;
  }
}
