<section class="section_about-as" id="aboutUs">
  <div class="container about-us-container">
    <img src="./images/favicon1.png" alt="logo" />

    <p>
      Ми — команда креативного продакшену, яка створює відео, що захоплюють
      увагу та залишають незабутнє враження. Спеціалізуємось на повному циклі
      відеозйомки: від ідеї до реалізації. Незалежно від масштабу проекту, наш
      підхід завжди залишається професійним, а результат — унікальним. Ми
      допомагаємо брендам, бізнесам та особистостям розповідати свої історії
    </p>
  </div>
</section>
