<section>
  <div class="container">
    <h2>НАМ ДОВІРЯЮТЬ:</h2>
    <div class="clients_wrapper">
      <div class="client_card">
        <img src="./images/fendt.png" alt="fendt logo" width="200" />
      </div>
      <div class="client_card">
        <img src="./images/VFDD.png" alt="VFDD logo" width="200" />
      </div>
      <div class="client_card">
        <img src="./images/everest.png" alt="everest logo" width="200" />
      </div>
      <div class="client_card">
        <img src="./images/JAC.jpg" alt="JAC logo" width="200" />
      </div>
    </div>
  </div>
</section>
