<section class="hero__section">
  <div class="hero_wrepper">
    <video autoplay loop muted playsinline class="hero-video">
      <source
        src="./images/youtube_Ow-bQHsI6qE_1920x1080_h264.mp4"
        type="video/mp4"
      />
      Ваш браузер не поддерживает видео.
    </video>
  </div>
  <div class="hero_title">
    <div class="fall-in">
      <h3 class="hero_title-descr">Студія відеодизайну</h3>
      <h1 class="hero_title-name">AV PRODUCTION</h1>
    </div>
    <div class="playVideo-wrapper">
      <button type="button" class="hero_playVideoBtn">
        <!-- <svg width="32" height="32" class="play_videoSVG">
          <use xlink:href="../src/images/symbol-defs.svg#icon-play"></use>
        </svg> -->
        <svg width="32" height="32" viewBox="0 0 32 32">
          <path d="M6 4l20 12-20 12z"></path>
        </svg>
      </button>
      <div class="play-video">
        <iframe
          width="840"
          height="472"
          src="https://www.youtube.com/embed/Ow-bQHsI6qE?si=VtjDw8xk2pBdkb1u"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
        ></iframe>
        <button type="button" class="close_video">
          <svg height="21" width="21">
            <g
              fill="none"
              fill-rule="evenodd"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m15.5 15.5-10-10zM15.5 5.5l-10 10" />
            </g>
          </svg>
        </button>
      </div>
    </div>
    <a href="#aboutUs" class="down-arrow">
      <svg
        x="0px"
        y="0px"
        width="38.417px"
        height="18.592px"
        viewBox="0 0 38.417 18.592"
        style="enable-background: new 0 0 38.417 18.592"
      >
        <g>
          <path
            d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"
          ></path>
        </g>
      </svg>
    </a>
  </div>
</section>
