<section class="slider__section">
  <div class="container">
    <form class="genre-select">
      <label class="radio">
        <input type="radio" name="genre" value="advertising" checked />
        <span> Реклама</span>
      </label>
      <label class="radio">
        <input type="radio" name="genre" value="promo" />
        <span> Промо</span>
      </label>
      <label class="radio">
        <input type="radio" name="genre" value="documentary" />
        <span> Документальне</span>
      </label>
      <label class="radio">
        <input type="radio" name="genre" value="business" />
        <span> Бізнес</span>
      </label>
      <label class="radio">
        <input type="radio" name="genre" value="wedding" />
        <span> Весілля</span>
      </label>
      <label class="radio">
        <input type="radio" name="genre" value="graphics" />
        <span> Графіка</span>
      </label>
      <label class="radio">
        <input type="radio" name="genre" value="activities" />
        <span> Заходи</span>
      </label>
      <label class="radio">
        <input type="radio" name="genre" value="broadcasts" />
        <span> Трансляції</span>
      </label>
    </form>
  </div>

  <div class="swiper" id="videoslider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/WaEeMQYmoTY?si=-V95ZPj3p2xTFFMU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/EdTeNIZgS-Q?si=2EcC6yFtXKlZnO2J"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Pn5027x6RmU?si=ALaU8AqKGltNla0F"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/H7KdCzEXn_g?si=NZ-ieGYDWEqOsaTw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/_ChBbrgUYDc?si=JwBNYfsEchC8K1jU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/lEwvgTygu5w?si=eW8nse7gmVnOEL5l"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/0rRNn8EsFUE?si=MyCmBIs_g_UeQwWw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/8419Ez1_PEM?si=slT2RNs7TWR0QgpF"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JbFek2Va_A0?si=52z-5EwMCJ5GguSn"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div class="swiper-slide">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/OeD89VxYaM0?si=PYiFJCQBH0UjKV1N"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
